PORT=8080
SESSION_MINUTES=60
DISCONNECT_GRACE_SECONDS=300
QUEUE_RETRY_SECONDS=300
MAX_ACTIVE_SESSIONS=30
GUEST_IFACE=ath01

GUEST_SSID=FreeWiFi
GUEST_WIFI_IFACE=ath01
GUEST_IP=192.168.28.1
GUEST_NET=192.168.28.0/24
FAS_PORT=8080
GUEST_TCP_SYN_LIMIT=100/sec
GUEST_TCP_SYN_BURST=200
GUEST_BLOCK_TCP_PORTS="23 25 135:139 445 3389"
GUEST_BLOCK_UDP_PORTS="135:139 445"

ROUTER_HOST=
ROUTER_IP=
ROUTER_USER=root
REMOTE_BINARY=/usr/bin/hotspot-fas
TARGET=armv7-unknown-linux-musleabihf
BINARY=openwrt-hotspot-banner

RUN_LIVE_QUEUE_E2E=0
GUEST_BRIDGE=br-guest
GUEST_GATEWAY=192.168.28.1
CLIENT_ONE_IP=127.0.0.201
CLIENT_TWO_IP=127.0.0.202
DEST_IP=127.0.0.1
